
%button.show_users Show All Users
%div.users{style: "display: none;"}
  = render "users", remote: true


%button.show_companies Show Companies Pending Approval
%div.companies_pending{style: "display: none;"}
  = render "companies_pending"


%div.right



:javascript
  $(".show_users").click(function() {
    var right = $(".right");
    $(".users").slideToggle(function() {
      if ($(".users").css("display") === "none") {
        right.slideUp();
      } else {
        right.slideDown();
      }
    });
  });

  $(".show_companies").click(function() {
    var company = $(".companies_pending");
    var right = $(".right");
    
    company.slideToggle(function() {
      if (company.css("display") === "none") {
        right.slideUp();
      } else {
        right.slideDown();
      }
    });
  });
