%div.container
  %div.job-feed
    %h1
      Jobs Feed

    %ul
      %h3
        =render 'jobs'

  

  %div.job-info

//baiatu cu butoanele pt alta pagina de joburi




= render "profile/user_applications"