%h1
  Create a CV?
= form_for @new_cv, url: cv_index_path do |f|
  .form-group
    = f.label :title, "Add a title to CV"
    = f.text_field :title, required: true, class: 'form-control'
  .modal-buttons
    = f.submit "Create Cv", class: "btn btn-primary btn-wd btn-lg btn-round"