// Create the "x" button
var closeButton = $('<button class="close-button" onclick="hideFormContainer(this)">Cancel</button>');

<% if @name == "education" %>
  var renderedEducationPartial = "<%= j render 'education_form' %>";
  $("#create-education-container").html(renderedEducationPartial).append(closeButton);
  $("#add-education-button").hide(); // Hide the "Add education" button
<% elsif @name == "experience" %>
  var renderedExperiencePartial = "<%= j render 'experience_form' %>";
  $("#create-experience-container").html(renderedExperiencePartial).append(closeButton); //add to matching divs (create-experience-container) the forms and close button
  $("#add-experience-button").hide(); // Hide the "Add experience" button
<% end %>

// Function to hide the form container
function hideFormContainer(button) {
  <% if @name == "education" %>
    $("#education").hide();
    $(button).hide();
    $("#add-education-button").show(); // Show the "Add education" button
  <% elsif @name == "experience" %>
    $("#experience").hide();
    $(button).hide();
    $("#add-experience-button").show(); // Show the "Add experience" button
  <% end %>
}
