.wrapper-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.users {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.users p {
    font-size: 1.25rem;
    font-family: 'GothamPro';
    margin: 0;
}

.company-admin p {
    font-size: 1.25rem;
    font-family: 'GothamPro';
    margin: 5px 10px;
}

#search {
    height: 28px;
    padding: 0px 10px;
    border-radius:  20px 0 0 20px ;
    border: 1px solid #e1eae7;
    margin-top: 20px;
}

#search:focus-visible{
    border: 1px solid #e1eae7!important;
    outline: none;
}

.button1 {
    margin-top: 20px;
    height: 30px;
    background-color: #6327A0;
    font-family: 'GothamPro-Medium';
    color: #fff;
    border: 0;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px; 
}

.companies_pending{
    
    width: 100%;
}

.company-admin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.25rem;
    
}

.show_users {
    width: 312px;
    background-color: #6327A0;
    font-family: 'GothamPro-Medium';
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px; 
    margin-bottom: 10px;
    margin-top: 110px;
}

.show_companies {
    width: 312px;
    background-color: #6327A0;
    font-family: 'GothamPro-Medium';
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px; 
    margin-bottom: 10px;
}

@media screen and (max-width: 842px){
    .users {
        width:95%;
    }

    .show_users {
        margin-top: 120px
    }
}